
span { 
    
    text-align: start;
    color: black;
}

nav {
    display: flex;
    background-color: rgb(97, 97, 243);
    justify-content: space-evenly;
}

ul {
    display: flex;
    list-style: none;
    color: white;
    gap: 5rem;
}

a {
    color: white;
}

footer {
    background-color: rgb(168, 93, 238);
    padding: 0.10rem;
}

ul {
    display: flex;
    justify-content: center;
    color: black;
}

h5 {
    display: flex;
    justify-content: center;
}

blockquote {
    background-color: rgb(216, 218, 218);
}
body {
    background-color: antiquewhite;
}